<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.Params.description }}">
  {{ $siteTitle := partial "site-title.html" . }}
  <title>{{ if .IsHome }}{{ $siteTitle }}{{ else }}{{ .Title }} | {{ $siteTitle }}{{ end }}</title>
  {{ with resources.Get "css/main.scss" | css.Sass (dict "transpiler" "dartsass") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
  {{ end }}
</head>
